 @keyframes float {

     0%,
     100% {
         transform: translateY(0) rotate(0deg);
     }

     50% {
         transform: translateY(-20px) rotate(2deg);
     }
 }

 .animate-float {
     animation: float 6s ease-in-out infinite;
 }

 .rounded-blob {
     border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 }